:root {
  --el-font-family: 'Roboto';
}

/* Optional: Force all Element Plus components to use the custom font */
[class^="el-"],
[class*=" el-"] {
  font-family: var(--el-font-family), serif;
}

.el-table.hover {
  tr:hover {
    cursor: pointer;
  }
}